* { margin:0; padding:0; box-sizing:border-box; }

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

body {
	text-align: center;
}

h1 {
	color: green;
	font-size: 4vw;
	margin-bottom: 30px;
	margin-top: 20px;
}

#wrapper {
	width: 100vw;
	margin: 0 auto;
}

#carousel {
	width: 94vw;
	float: left;
	overflow: hidden;
}
  
#left_arrow, #right_arrow {
	width: 3vw;
	float: left; 
	cursor: pointer;
	cursor: hand;
}

#left_arrow img, #right_arrow img {
	height: 18vw;
}

/*#left_arrow {
	margin-left: 3vw;
}

#right_arrow {
	margin-right: 3vw;
}*/

ul {
	/*background-color: #EFEFEF;*/
	position: relative;
	left: -31.15vw;
	list-style-type: none;
	height: 18vw;
	width: 9999px;
	overflow: hidden;
}

li {
	float: left;
	/*left: -33.2%;*/
	width: 30.9vw;
	height: auto;
	margin: 0 0.2vw 0 .2vw;
}

li:first-child {
	margin-left: .25vw;
}

li:last-child {
	margin-right: .25vw;
}

li img {
	width: 30.9vw;
}

@media only screen and (max-width: 900px) {

	h1 {
		font-size: 40px;
	}
	
	#wrapper {
		width: 90%;
	}

	#carousel {
		width: 78vw;
	}

	#left_arrow img, #right_arrow img {
		height: 22vw;
	}
	
	ul {
		height: 22vw;
	}

	li {
		width: 49.8%;
	}

	li img {
		width: 34vw;
	}
}

@media only screen and (max-width: 480px) {
	#wrapper {
		width: 76%;
	}

	#carousel {
		width: 60vw;
	}

	#left_arrow img, #right_arrow img {
		height: 40vw;
	}
	
	ul {
		height: 40vw;
	}

	li {
		width: 80%;
	}

	li img {
		width: 60vw;
	}
}