* { margin:0; padding:0; box-sizing:border-box; }

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

body {
	text-align: center;
}

h1 {
	color: green;
	font-size: 60px;
	margin-bottom: 30px;
	margin-top: 20px;
}

ul {
	background-color: #EFEFEF;
	position: relative;
	/*left: -310px;*/
	list-style-type: none;
	/*width: 100%;*/
	/*height: 270px;*/
	height: 18vw;
	overflow: hidden;
	/*padding-bottom: 10px;*/
}

li {
	float: left;
	left: 33.1%;
	width: 33.1%;
	padding: 0px; 
	height: auto;
	margin: 0 .1% 5% .1%;

}

li:first-child {
	margin-left: .15%;
}

li:last-child {
	margin-right: .15%;
}

li img {
	width: 28vw;
}

#wrapper {	
	width: 100%;
	margin: 0 auto;
}

#carousel {
	width: 89vw;
	float: left;
	overflow: hidden;
}
  
#left_arrow, #right_arrow {
	float: left; 
	cursor: pointer;
	cursor: hand;
}

#left_arrow img, #right_arrow img {
	height: 18vw;
}

#left_arrow {
	margin-left: 3vw;
}

#right_arrow {
	margin-right: 3vw;
}

@media only screen and (max-width: 1020px) {
	#carousel {
		/*width: 620px;*/
	}

	#wrapper {
		/*width: 710px;*/
	}
}

@media only screen and (max-width: 710px) {
	#carousel {
		/*width: 310px;*/
	}

	#wrapper {
		/*width: 400px;*/
	}
}